@font-face {
    font-family: "Computer-Modern";
    src: url(../fonts/cmunrm.ttf);
}

@font-face {
    font-family: "Computer-Modern-Bold";
    src: url(../fonts/cmunbx.ttf);
}

body {
    background-color: #101010;
    font-family: "Inter", sans-serif;
    color: #eeeeee;
    margin: 0;
    height: 100%;
}

canvas {
    border-radius: 5px;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
}

header svg {
    height: 32px;
    stroke: #eeeeee;
}

header h1 {
    font-size: 25px;
    margin: 0 0 0 5px;
    font-weight: 300;
}

main {
    box-sizing: border-box;
    padding: 0 40px;
    display: flex;
}

#actions {
    display: flex;
    flex-direction: column;
}

#actions button {
    border: 1px solid #282828;
    border-radius: 5px;
    background-color: #1f1f1f;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    transition: .5s;
}

#actions button svg {
    stroke: #eeeeee;
    width: 30px;
    transition: .3s;
}

#actions button:hover {
    background-color: rgb(36, 36, 36);
    transform: translateY(-1px);
}

#actions button:hover svg{
    stroke: #7c3aed;
    filter: drop-shadow(0px 0px 2px #7c3aed);
}

button:hover {
    cursor: pointer;
}

.card {
    border: 1px solid #282828;
    border-radius: 5px;
    background-color: #1f1f1f;
    box-sizing: border-box;
}

#table-container{
    min-width: 200px;
    min-height: 400px;
    margin: 0 10px;
    padding: 20px 0;
}

#table-container div {
    margin-top: 10px;
    text-align: center;
    color: #bcbcbc;
}

table {
    width: 90%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

th {
    font-weight: 500;
    font-size: 15px;
}

td {
    color: #bcbcbc;
}

tr:nth-child(even) {
    background-color: rgb(36, 36, 36);
}

td, th {
    height: 30px;
}

#graphresult {
    padding: 20px;
}

#error-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

#error-container div {
    padding: 20px;
    font-weight:400;
    background-color: rgba(251, 70, 76, 0.5);
    border-radius: 5px;
    /* backdrop-filter: blur(5px); */
    opacity: 0;
    transition: 1s;
}

#error-container div.show{
    opacity: 1;
}

#config-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

#config-panel section {
    width: 500px;
    box-sizing: border-box;
}

#config-panel section .cheader{
    width: 100%;
    background-color: rgba(40, 40, 40, 0.8);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 5px 5px 0 0;
}

#config-panel section .cheader h1 {
    margin: 0;
}

#config-panel section .cbody {
    width: 100%;
    background-color: rgb(31, 31, 31);
    padding: 20px;
    border-radius: 0 0 5px 5px;
}

.cbody input {
    width: 100%;
    border-radius: 5px;
    outline: 1px solid #353535;
    background-color: #2a2a2a;
    padding: 10px 5px;
    color: #eeeeee;
    border: 0;
    transition: .2s;
    margin-bottom: 20px;
    font-family: "Inter";
    margin-top: 10px;
    box-sizing: border-box;
}

.cbody input::placeholder{
    color: #565656;
}

input:focus {
    outline: 3px solid #353535;
}